@model TaiKhoan
@{
    ViewData["Title"] = "Detail";
    Layout = "~/Areas/Admin/Views/Shared/_AdminLayout.cshtml";
}
<div class="app-main__inner">
    <div class="app-page-title">
        <div class="page-title-wrapper">
            <div class="page-title-heading">
                <div>
                    <div class="text-uppercase font-bold">Chi tiết tài khoản</div>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <div class="main-card mb-3 card">
                <div class="card-body display_data">                    
                    <div class="position-relative row form-group">
                        <label for="name" class="col-md-3 text-md-right col-form-label">
                            @Html.DisplayNameFor(model => model.HoTen)
                        </label>
                        <div class="col-md-9 col-xl-8">
                            <p>@Html.DisplayFor(model => model.HoTen)</p>
                        </div>
                    </div>
                    <div class="position-relative row form-group">
                        <label for="email" class="col-md-3 text-md-right col-form-label">
                            @Html.DisplayNameFor(model => model.Email)
                        </label>
                        <div class="col-md-9 col-xl-8">
                            <p>@Html.DisplayFor(model => model.Email)</p>
                        </div>
                    </div>
                    <div class="position-relative row form-group">
                        <label for="phone" class="col-md-3 text-md-right col-form-label">
                            @Html.DisplayNameFor(model => model.SDT)
                        </label>
                        <div class="col-md-9 col-xl-8">
                            <p>@Html.DisplayFor(model => model.SDT)</p>
                        </div>
                    </div>
                    <div class="position-relative row form-group">
                        <label for="street_address" class="col-md-3 text-md-right col-form-label">
                            @Html.DisplayNameFor(model => model.DiaChi)
                        </label>
                        <div class="col-md-9 col-xl-8">
                            <p>@Html.DisplayFor(model => model.DiaChi)</p>
                        </div>
                    </div>
                    <div class="position-relative row form-group">
                        <label for="level" class="col-md-3 text-md-right col-form-label">
                            @Html.DisplayNameFor(model => model.IsAdmin)
                        </label>
                        <div class="col-md-9 col-xl-8 mt-2">
                            @Html.DisplayFor(model => model.IsAdmin)
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

