@model IEnumerable<Nhom07.Models.GioHang>
@{
    ViewBag.Title = "Giỏ hàng";
    Layout = "~/Views/Shared/_Layout.cshtml";

}

<!-- Breadcrumb Section begin-->
<div class="breacrumb-section">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="breadcrumb-text">
                    <a href="index.html"><i class="fa fa-home"></i> Home</a>
                    <span>Shop</span>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Breadcrumb Section end-->
<!-- Shopping cart Section end-->
<div class="shopping-cart spad">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
               
                    <div class="cart-table">
                        <table>
                            <thead>
                               <tr>
                            <th>Image</th>
                            <th class="p.name">Product Name </th>
                            <th> Price </th>
                            <th>Quantity</th>
                            <th>Total</th>
                                </tr>
                            </thead>
                          
                            <tbody>

                            @if (Model != null)
                            {
                                foreach (var item in Model)
                                {
                                    <tr>
                                        <td class="cart-pic pirst-row"><img src="~/img/products/@item.SanPham.Anh" alt=""></td>
                                        <td class="cart-title first-row">
                                            <h5>@item.SanPham.TenSP</h5>
                                        </td>
                                        <td class="p-price first-row">@item.SanPham.Gia.ToString("#,##0") VNĐ</td>
                                        <td class="qua-col first-row">

                                            <div class="input-group quantity " style="width: 100px;">
                                                <form asp-action="UpdateQuantity" asp-route-id="@item.ID">
                                                    <div class="input-group quantity mx-auto" style="width: 100px;">
                                                        <div class="input-group-btn">
                                                            <button class="btn btn-sm btn-minus">
                                                                <i class="fa fa-minus"></i>
                                                            </button>
                                                        </div>
                                                        <input type="text" name="quantity" class="form-control form-control-sm text-center" value="@item.SoLuong">
                                                        <div class="input-group-btn">
                                                            <button class="btn btn-sm btn-plus">
                                                                <i class="fa fa-plus"></i>
                                                            </button>
                                                        </div>
                                                    </div>
                                                </form>
                                            </div>
                                         </td>
                             
                                   <td class="total-price first-row">@(
                                        (item.SanPham.Gia * item.SoLuong).ToString("#,##0")
                                        ) VNĐ</td>
                                        <td>
                                            <form asp-action="Delete" asp-route-id="@item.ID" onsubmit="return confirm('Bạn có chắc muốn xóa?');">
                                                <button class="btn btn-danger">&times;</button>
                                            </form>

                                        </td>

                                    </tr>


                                }
                            }


                            </tbody>
                        </table>
                    </div>
                    <div class="row">
                        <div class="col-lg-4">
                            <div class="cart-buttons">
                                <a href="#" class="primary-btn continue-shop">Contunue shopping</a>
                         
                            <a href="/cart" class="primary-btn up-cart">Update cart</a>
                            </div>
                            <div class="discount-coupon">
                                <h6>Discout Codes</h6>
                                <form action="#" class="coupon-form">
                                    <input type="text" placeholder="Enter your codes">
                                    <button type="submit" class="site-btn coupon-btn">Apply</button>
                                </form>
                            </div>
                        </div>
                        <div class="col-lg-4 offset-lg-4">
                            <div class="proceed-checkout">
                                <ul>

                                    <li class="cart-total">Total<span>@Model.Sum(c => c.SanPham.Gia * c.SoLuong).ToString("#,##0") VNĐ</span></li>
                                </ul>
                                <a href="check-out.html" class="proceed-btn">PROCEED TO CHECK OUT</a>
                            </div>
                        </div>
                    </div>
              
            
            </div>
        </div>
    </div>
</div>
<!-- Shopping cart Section end-->
